.main_card{
    background: #FFFFFF;
    margin:70px auto 20px;
    min-height: 100vh;
    max-width: calc(90%);
    min-width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -65%;
  
  }
  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
  }
  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }
  