.center_card {
    background: #FFFFFF;
    margin: -100px auto 20px;
    min-height: 30vh;
    max-width: calc(80%);
    min-width: 50%;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}